# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ddd-demo\dangkang-ddd-archetype\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
